@font-face {
    font-family: 'caveat';
    src: url('../font/Caveat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: caveat, Arial, Helvetica, sans-serif;
    background-image: url("../img/bodyFon.svg");
    background-size: 200px;
}

p {
    font-size: 1.5rem;
    text-indent: 1em;
    text-align: justify;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

.rom-logo {
    width: 5rem;
    position: absolute;
    top: 1.4rem;
    left: 4rem;
}


