
@font-face {
    font-family: "Zhizn";
    src: url("../../../font/Zhizn.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}


:root {
    --fon-color: #D9D9D9;
    --elements-color: #fff;
    --dialogBubble-color: var(--elements-color);
    --width_toggle: 6em;
	--height_toggle: calc(var(--width_toggle) / 3);
}



body {
    font-family: Zhizn, Arial, Helvetica, sans-serif;
    font-size: 16xp;
    background-image: url("../../img/layoutDesigner/bodyFon.svg");
    background-size: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.game-content {

    width: 100%;
    max-width: 1250px;
    min-height: 90vh;
    margin-inline: 1em;
    border: #000 solid 2px;
    border-radius: 2em;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--fon-color);
}


.header {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;

    padding: 1em 1em;

}

.header-title {

    flex-grow: 1;
    text-align: center;

}

main {
    flex-grow: 1;
    display: flex;

    /* background-color: red; */
}

.game-section {
    
    width: 100%;

    
    /* background-color: blue; */
}

.game-section-container {
    
    height: 100%;
    margin: 0 1em;
    
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);

    /* background-color: grey; */
}


.game-menu__block_startGame{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5em;

    /* background-color: yellowgreen; */

}


.game-menu__title_startGame {
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}




.game-menu__block_complexityGame,
.game-menu__block_soundGame {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1em;

    /* background-color: rgb(218, 90, 96); */
}

.game-menu__block_soundGame {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    width: fit-content;
    justify-content: flex-start;

    /* background-color: rgb(128, 58, 62); */
}

.game-menu__title_complexityGame,
.game-menu__title_soundGame {
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


.game-menu__djun_soundGame {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;

    width: 100%;
    background-image: url("../../img/layoutDesigner/wtf_djun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;


    /* background-color: rgb(245, 86, 94); */
}


.game-menu__senorSay {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;

    
    /* background-color: rgb(10, 195, 241); */
}
.game-menu__senorSay p::before {
    top: 105%;
    left: 60%;    
}
.game-menu__senorSay p::after {
    top: 130%;
    left: 64%;    
}


.game-menu__djunrAsk {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;

    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
    row-gap: 0.5em;
    margin-bottom: 1em;


    /* background-color: rgb(218, 38, 143); */
}
.game-menu__djunrAsk *:first-child {
    align-self: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


.game-menu__heroesImgs {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;

    margin-top: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;

    /* background-color: rgb(142, 233, 82); */
}

.game-menu__djunImg {
    /* background-color: aquamarine; */
    
    height: 90%;
    aspect-ratio: 1 / 1;
    background-image: url("../../img/layoutDesigner/menu_djun.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}

.game-menu__senorImg {
    /* background-color: #5dc6ff; */

    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../../img/layoutDesigner/menu_senor.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}





#senor-commit {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #fff; */
}
#dialod-commit {
    text-align: center;
    font-size: 2em;
}
#dialod-commit::before {
    top: 20%;
    left: 101%;
    background-color: var(--dialogBubble-color);    
}
#dialod-commit::after {
    top: 30%;
    left: 105%;
    background-color: var(--dialogBubble-color);   
}

#cabinet-senorImg {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;


    background-image: url("../../img/layoutDesigner/menu_senor.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;

    /* background-color: #5dc6ff; */
}





.game-table {
    /* width: 100%;
    align-self: center; */
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 5;

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    
    display: grid;
    gap: 1%;

 /* background-color: aquamarine; */   

}

.table-8 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.table-12 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.table-24,
.table-32 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr)
}


.game-card-center {
    /* background-color: #d18f2c; */
    border-radius: 1em;
    background-image: url("../../img/layoutDesigner/focused_djun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
}

.center-card-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.center-card-12 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.center-card-24,
.center-card-32 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}


.game-card {
    /* width: 100%; */
    /* aspect-ratio: 4 / 3; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    border-radius: 1em;
    transition: all 0.2s linear; 
}



.game-card span {
    font-size: 16px;
    display: none;    
}

.game-card span+span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../img/layoutDesigner/questionLayoutDesigner.svg");    
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.game-card.flip {
    background: #5dc6ff !important;
    transform: perspective(200px) rotateY(180deg);
}

.game-card.flip span {
    display: block;
    transform: rotateY(-180deg);
}

.game-card.flip span+span {
    display: none;
}

.game-card.successfully {
    background: #76db82 !important;
}

.game-card:hover{
    background: #d1d1c0;
}



.senor-cabinet {
    /* align-self: stretch;
    width: 20%; */

    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 6;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    row-gap: 1em;
   
    border: 1px solid #000;
    border-radius: 1em;

    margin-left: 1em;
    margin-bottom: 1em;


    /* background-color: rgb(231, 166, 68); */
}


.deadline-wrapper,
.bream-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-inline: 0.3em;
    text-align: center;

    /* background-color: #cfcdca; */
}

.cabInfo-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}


#cabInfo-timer {
    font-family: 'Courier New', Courier, monospace;
   
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;

    /* background-color: antiquewhite; */
}



#bream-img {
    width: 96%;
    max-width: 8em;
    aspect-ratio: 1 / 1;
    border: 2px solid #000;
    border-radius: 50%;
    position:relative;
    margin: 1em auto;
    background-color: var(--elements-color);
}
#bream-1,
#bream-2,
#bream-3 {
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width:70%;
    height:130%;
    background-image: url("../../img/layoutDesigner/bream.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0;
    transition: opacity 1.5s;
}
#bream-2 {
    bottom: -20%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
}
#bream-3 {
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    transform: rotate(45deg);
}

#bream-count {
    font-size: 3em;
}


.game-footer {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* background-color: #0a3952; */
}







#modal-senorQuestion,
#modal-endGame {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
}


#senorQuestion-container,
#endGame-container {
    width: 90%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 1em 3em;
    border-radius: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 1em;    
    background-color: var(--fon-color);
  }



#senorQuestion-senorImg {
    width: 30%;
    transform: scaleX(-1);

    /* background-color: #e45c94; */
}

#senorQuestion-question {
    
    width: 65%;
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    

    /* background-color: #76db82; */
}

#senorQuestion-text {   
    margin-top: auto;
    margin-bottom: auto;
}
#senorQuestion-text::before {
    top: 10%;
    left: -4%;    
}
#senorQuestion-text::after {
    top: 20%;
    left: -7%;    
}



#senorQuestion-answersList {
    width: 100%;
    list-style: none;

    /* background-color: #77b4e6; */
}




#endGame-title {
    width: 100%;
    text-align: center;


    /* background-color: #76db82; */
}


#endGame-body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#endGame-senorImg,
#endGame-djunImg {
    width: 30%;
    transform: scaleX(-1);
}

#endGame-senorSay,
#endGame-result {
    width: 65%;
    text-align: center;
    margin-bottom: 0.5em;

    /* background-color: #84e09b; */
}



#endGame-senorText {
    font-size: 1.6em;
}
#endGame-senorText::before {
    top: 10%;
    left: -4%;    
}
#endGame-senorText::after {
    top: 20%;
    left: -7%;    
}

#endGame-djunText {
    font-size: 2.5em;
    font-weight: bold;
}
#endGame-djunText::before {
    top: 10%;
    left: 101%;
    background-color: var(--dialogBubble-color);
}
#endGame-djunText::after {
    top: 20%;
    left: 105%;
    background-color: var(--dialogBubble-color);  
}


#endGame-footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;


    /* background-color: #363a37; */
}



/* Диалоговый параграф героев */
.dialog {
    background-color: var(--elements-color);
    border: 1px solid #000;
    border-radius: 1em;
    padding: 0.5em 1em;
    text-align: center;
    position: relative;
}
.dialog::before {
    content: "";
    width: 3%;
    aspect-ratio: 1 / 1;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    background-color: var(--elements-color);
}
.dialog::after {
    content: "";
    width: 2%;
    aspect-ratio: 1 / 1;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    background-color: var(--elements-color);
}



/*  Кнопки  */

.game-btns,
.modalGameBtn {
    font-family: Zhizn, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: inherit;
    background-color: var(--elements-color);
    border: 2px solid #000;
    border-bottom-left-radius: 1em 16em;
    border-bottom-right-radius: 14em 1em;
    border-top-left-radius: 16em 1em;
    border-top-right-radius: 1em 14em;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    cursor: pointer;
    /* line-height: 23px; */
    outline: none;
    padding: 0.5em 2em;
    margin-bottom: 0.5em;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    touch-action: manipulation;
  
}

.game-btns:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.game-btns:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }


.modalGameBtn {
    position: relative;
    border-radius: 1em;
}

.modalGameBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}
  
.icon-span {
    /* width: 2em; */
    height: 100%;   
    aspect-ratio: 1 / 1;
    display: block;
    position: absolute;
    background-image: url("../../img/layoutDesigner/btn_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

    /* background-color: #5dc6ff; */
}

#btn-returnMenu,
#menu-closeGame {
    padding-left: 3em;
    padding-right: 1em;
}
#btn-returnMenu .icon-span,
#menu-closeGame .icon-span {
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

#btn-closeGame {
    padding-left: 1em;
    padding-right: 3em;
}
#btn-closeGame .icon-span {
    top: 0;
    right: 0;
    transform: rotate(90deg);
}


.btn-notActive {
    pointer-events: none;
    cursor: none;
    color: grey;
}


/* Аудио плеер */

#audio-player {
    width: fit-content;
    height: 100%;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px; 
    background-color:var(--elements-color);
    border:1px solid #000;
    border-radius: 1em;    
  }

  .player-btn {
    height: 80%;
    aspect-ratio: 1 / 1;
    border: none;
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.5s;
  }
  #btn-playPause {
    background-image: url("../../img/layoutDesigner/player_play.svg");
  }
  #btn-stop {
    background-image: url("../../img/layoutDesigner/player_stop.svg");
  }
  #btn-volume {
    background-image: url("../../img/layoutDesigner/player_volume1.svg");
  }
  #volume-value {
    min-width: 2.5em;
    margin-left: -1.5em;
    background-color:#fff;
  }
  .player-btn:hover {
    transform: scale(0.8);
  }



/* Кастомизация чекбоксов */

label:has(> #checkbox_codeReview),
label:has(> #checkbox_evilSenor),
label:has(> .option-radio) {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    padding: 0.2em;
    margin-left: 2em;
    border-radius: 0.8em;
    overflow: hidden;   
    cursor: pointer;

    /* background-color: #5dc6ff; */
}

label:has(> .option-radio) {
    border-radius: 1em;
    margin-left: 0;
    /* padding: 0; */
}

#checkbox_codeReview,
#checkbox_evilSenor,
.option-radio {
    height: 2.3em;
    width: 2.3em;
    position: relative;
    left: -50px;
    cursor: pointer;
}

#checkbox_codeReview::before,
#checkbox_evilSenor::before,
.option-radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4em;
    height: 2.3em;
    width: 2.3em;
    border-radius: 0.6em;
    background-color: var(--elements-color);
    outline: rgba(0,0,0,1) solid 2px;
    outline-offset:-3px;
}

.option-radio::before{
    border-radius: 50%;
}

#checkbox_codeReview:checked::after,
#checkbox_evilSenor:checked::after,
.option-radio:checked::after {
    content: "✓";
    font-size: 2.4em;
    color: green;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    top: -0.4em;
    left: 1.8em;
    height: 2.3em;
    width: 2.3em;
}

.option-radio:checked::after {
    content: "✘";
    top: -0.3em;
    left: 1.7em;
}

/* Переключатель */

#label_checkbox_music {
    position: relative;
    display: inline-block;
    width: var(--width_toggle);
    height: var(--height_toggle);
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    outline: #000 solid 1px;
    border-radius: var(--height_toggle);
    cursor: pointer;
    margin: 0 auto;
}

#checkbox_music {
    display: none;
}

.slider_soundGame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height_toggle);
    background: linear-gradient(90deg, rgba(162, 162, 162, 0.4) 50%, rgba(162,162,162,0.8) 100%);
    transition: all 0.4s ease-in-out;
}

.slider_soundGame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--height_toggle);
    height: var(--height_toggle);
    border-radius: calc(var(--height_toggle) / 2);
    background-color: rgba(162,162,162,0.8);
    box-shadow: 0px 0px 3px 8px rgba(255,255,255,1) inset;
    outline: rgba(0,0,0,1) solid 1px;
    outline-offset:-3px;
    transition: all 0.4s ease-in-out;
}

#checkbox_music:checked+.slider_soundGame {
    background: linear-gradient(-90deg, rgba(101,240,101,0.4) 50%, rgba(101,240,101,0.8) 100%);
}

#checkbox_music:checked+.slider_soundGame::before {
    transform: translateX(calc(var(--width_toggle) - var(--height_toggle)));
    background-color: rgba(101,240,101,0.8);
}

.labels_soundGame {
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.labels_soundGame::after {
    content: "не хочу";
    position: absolute;
    right: 0.3rem;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.labels_soundGame::before {
    content: "конечно";
    position: absolute;
    left: calc(var(--height_toggle) - var(--width_toggle) + 0.5rem);
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

#checkbox_music:checked~.labels_soundGame::after {
    opacity: 0;
    transform: translateX(calc(var(--width_toggle) - var(--height_toggle)));
}

#checkbox_music:checked~.labels_soundGame::before {
    opacity: 1;
    transform: translateX(calc(var(--width_toggle) - var(--height_toggle)));
}