*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../../img/layoutDesigner/bodyFon.svg");
    background-size: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.game-content {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; */
    background-color: #fff;

    width: 100%;
    max-width: 1250px;
    min-height: 90vh;
    margin-inline: 1em;
    border: #000 solid 2px;
    border-radius: 2em;
    display: flex;
    flex-flow: column nowrap;
}


.header {
    padding: 1.5em 1em;
}

.header-title {
    text-align: center;
    color: #1f1d1d;
}

main {
    flex-grow: 1;
    display: flex;

    background-color: red;
}

.game-section {
    
    width: 100%;

    
    background-color: blue;
}

.game-section-container {
    
    height: 100%;
    margin: 0 1em;
    
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1em; */
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: grey;
}


.game-menu__block_startGame{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: yellowgreen;

}


.game-menu__title_startGame {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #000;
}

.game-menu__difficult-btn {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    background: transparent;
    color: #222;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    
}

.game-menu__difficult-btn {
    padding: 15px 20px;
    background-color: #5dc6ff;
}

.game-menu__difficult-btn:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background-color: #222;
    color: #fff;
}


.game-menu__block_complexityGame {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1em;
    /* align-self: flex-start; */


    background-color: rgb(218, 90, 96);
}

.game-menu__title_complexityGame {
    text-align: center;
    color: #000;
}


.game-menu__senorSay {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;

    /* z-index: 1; */
    
    background-color: rgb(10, 195, 241);
}

.game-menu__djunrAsk {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;

    background-color: rgb(218, 38, 143);
}



.game-menu__heroesImgs {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    background-color: rgb(142, 233, 82);
}

.game-menu__djunImg {
    background-color: aquamarine;
    
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../../img/layoutDesigner/menu_djun.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}

.game-menu__senorImg {
    background-color: #5dc6ff;

    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../../img/layoutDesigner/menu_senor.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}





#senor-commit {
    /* width: 100%;
    aspect-ratio: 3 / 1; */

    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;


    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
}

.cabinet-senorImg {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;


    /* width: 100%;
    aspect-ratio: 1 / 1; */
    background-image: url("../../img/layoutDesigner/menu_senor.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;

    background-color: #5dc6ff;
}



/* .game-table-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: #e45c94;
} */





.game-table {
    /* width: 100%;
    align-self: center; */
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 5;


    background-color: aquamarine;
    
    display: grid;
    gap: 1%;
    
    

}

.table-8 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.table-12 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.table-24,
.table-32 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr)
}


.game-card-center {
    background-color: #d18f2c;
    border-radius: 1em;
    background-image: url("../../img/layoutDesigner/menu_djun.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
}

.center-card-8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.center-card-12 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.center-card-24,
.center-card-32 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}


.game-card {
    /* width: 100%; */
    /* aspect-ratio: 4 / 3; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;
    border-radius: 1em;
    transition: all 0.2s linear; 
}



.game-card span {
    font-size: 16px;
    display: none;    
}

.game-card span+span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../img/layoutDesigner/questionLayoutDesigner.svg");    
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.game-card.flip {
    background: #5dc6ff !important;
    transform: perspective(200px) rotateY(180deg);
}

.game-card.flip span {
    display: block;
    transform: rotateY(-180deg);
}

.game-card.flip span+span {
    display: none;
}

.game-card.successfully {
    background: #76db82 !important;
}

.game-card:hover{
    background: #d1d1c0;
}



.senor-cabinet {
    /* align-self: stretch;
    width: 20%; */

    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 5;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    row-gap: 1em;
   



    background-color: rgb(231, 166, 68);
}


.deadline-wrapper,
.bream-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    text-align: center;

    background-color: #cfcdca;
}

.cabInfo-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}


#cabInfo-timer {
    font-size: 2em;
    white-space: nowrap;
}



#bream-img {
    width: 96%;
    max-width: 8em;
    aspect-ratio: 1 / 1;
    border: 2px solid #000;
    border-radius: 50%;
    position:relative;
    margin: 1em auto;


    background-color: #d18f2c;
}
#bream-1,
#bream-2,
#bream-3 {
    position: absolute;
    bottom: -10%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width:70%;
    height:130%;
    background-image: url("../../img/layoutDesigner/bream.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0;
    transition: opacity 1.5s;
}
#bream-2 {
    bottom: -20%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
}
#bream-3 {
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    transform: rotate(45deg);
}

#bream-count {
    font-size: 3em;
}

.game-footer {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: #0a3952;
}

.restart-btn {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 10px;
    padding: 0;
    background: transparent;
    color: #222;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    padding: 15px 20px;
    background-color: #5dc6ff;
}

.restart-btn:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background-color: #222;
    color: #fff;
}









#modal-senorQuestion,
#modal-endGame {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 5001; */
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: none;
}

#senorQuestion-container,
#endGame-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 1em 3em;
    border-radius: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    row-gap: 1em;

    
    background-color: #fff;
  }



#senorQuestion-senorImg {
    width: 30%;
    transform: scaleX(-1);

    background-color: #e45c94;
}

#senorQuestion-question {
    
    width: 65%;

    background-color: #76db82;
}

#senorQuestion-answersList {
    width: 100%;
    list-style: none;

    background-color: #77b4e6;
}

#senorQuestion-btn {

    cursor: pointer;
    background-color: #5e5463;
}




/* Кастомизация чекбоксов */

label:has(> #checkbox_codeReview),
label:has(> #checkbox_evilSenor),
label:has(> .option-radio) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;
    padding-top: 0.3em;
    margin-left: 2em;
    overflow: hidden;   
    cursor: pointer;
}

label:has(> .option-radio) {
    border-radius: 1em;
    margin-left: 0;
}

#checkbox_codeReview,
#checkbox_evilSenor,
.option-radio {
    height: 2.3em;
    width: 2.3em;
    position: relative;
    left: -50px;
    cursor: pointer;
}

#checkbox_codeReview::before,
#checkbox_evilSenor::before,
.option-radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4em;
    height: 2.3em;
    width: 2.3em;
    border-radius: 0.6em;
    background-color: rgba(255,255,255,1);
    outline: rgba(0,0,0,1) solid 1px;
    outline-offset:-3px;
}

.option-radio::before{
    border-radius: 50%;
}

#checkbox_codeReview:checked::after,
#checkbox_evilSenor:checked::after,
.option-radio:checked::after {
    content: "✓";
    font-size: 2.4em;
    color: green;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    top: -0.4em;
    left: 1.8em;
    height: 2.3em;
    width: 2.3em;
}

.option-radio:checked::after {
    content: "✘";
    top: -0.3em;
    left: 1.7em;
}

.btn-notActive {
    pointer-events: none;
    cursor: none;
    color: grey;
}






.modalGameBtn {
    padding: 1em 2em;
    border: 1px solid #000;
    border-radius: 1em;
}